In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [19]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [20]:
# preprocessing the data
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [21]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [22]:
# One hot encoding 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore',sparse_output=False)
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [23]:
# combining encoded columns with the original data
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [24]:
# splitting out data into independent and target features
x = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [25]:
# spilitting the data in training and testing sets
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [26]:
# scaling these features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [28]:
# saving the encoders and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

### ANN Regression Problem Statement

In [29]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [30]:
# Building our model
model = Sequential([
    Dense(64, activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

# compiling the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

WARNING:tensorflow:From c:\Users\shesh\anaconda3\envs\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\shesh\anaconda3\envs\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [31]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# setting up tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("Y%m%d-%H%M%S")
tensorBoard_callback = TensorBoard(log_dir = log_dir , histogram_freq = 1)

In [32]:
# setting up early stopping
early_Stopping_callback = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [33]:
# Training the model
history = model.fit(
    x_train, y_train,
    validation_data = (x_test,y_test),
    epochs = 100,
    callbacks = [early_Stopping_callback , tensorBoard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\shesh\anaconda3\envs\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\shesh\anaconda3\envs\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 5s 10ms/step - loss: 100369.0391 - mae: 100369.0391 - val_loss: 98477.4375 - val_mae: 98477.4375
Epoch 2/100
250/250 [==============================] - 2s 6ms/step - loss: 99471.1172 - mae: 99471.1172 - val_loss: 96653.8984 - val_mae: 96653.8984
Epoch 3/100
250/250 [==============================] - 2s 9ms/step - loss: 96328.2500 - mae: 96328.2500 - val_loss: 92029.3594 - val_mae: 92029.3594
Epoch 4/100
250/250 [==============================] - 2s 8ms/step - loss: 90237.3672 - mae: 90237.3672 - val_loss: 84530.1094 - val_mae: 84530.1094
Epoch 5/100
250/250 [==============================] - 2s 7ms/step - loss: 81597.6641 - mae: 81597.6641 - val_loss: 75126.7656 - val_mae: 75126.7656
Epoch 6/100
250/250 [==============================] - 2s 7ms/step - loss: 71886.1406 - mae: 71886.1406 - val_loss: 66046.8594 - val_mae: 66046.8594
Epoch 7/100
250/250 [==============================] - 2s 9ms/step - loss: 63157.0352 - mae: 63157.0352 - val_loss: 58857.7891 - val_mae: 58857.7891
Epoch 8/100
250/250 [==============================] - 2s 7ms/step - loss: 56867.4141 - mae: 56867.4141 - val_loss: 54246.4570 - val_mae: 54246.4570
Epoch 9/100
250/250 [==============================] - 2s 8ms/step - loss: 53274.0508 - mae: 53274.0508 - val_loss: 52097.0000 - val_mae: 52097.0000
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 51527.3828 - mae: 51527.3828 - val_loss: 51210.5117 - val_mae: 51210.5117
Epoch 11/100
250/250 [==============================] - 2s 9ms/step - loss: 50788.9531 - mae: 50788.9531 - val_loss: 50901.4688 - val_mae: 50901.4688
Epoch 12/100
250/250 [==============================] - 2s 7ms/step - loss: 50501.6562 - mae: 50501.6562 - val_loss: 50780.1562 - val_mae: 50780.1562
Epoch 13/100
250/250 [==============================] - 2s 9ms/step - loss: 50351.7773 - mae: 50351.7773 - val_loss: 50725.5430 - val_mae: 50725.5430
Epoch 14/100
250/250 [==============================] - 1s 6ms/step - loss: 50257.1094 - mae: 50257.1094 - val_loss: 50672.9258 - val_mae: 50672.9258
Epoch 15/100
250/250 [==============================] - 2s 7ms/step - loss: 50191.5234 - mae: 50191.5234 - val_loss: 50622.3008 - val_mae: 50622.3008
Epoch 16/100
250/250 [==============================] - 2s 8ms/step - loss: 50141.5195 - mae: 50141.5195 - val_loss: 50585.1680 - val_mae: 50585.1680
Epoch 17/100
250/250 [==============================] - 1s 6ms/step - loss: 50092.0000 - mae: 50092.0000 - val_loss: 50547.0625 - val_mae: 50547.0625
Epoch 18/100
250/250 [==============================] - 2s 7ms/step - loss: 50050.7070 - mae: 50050.7070 - val_loss: 50517.3008 - val_mae: 50517.3008
Epoch 19/100
250/250 [==============================] - 2s 7ms/step - loss: 50018.3398 - mae: 50018.3398 - val_loss: 50486.5156 - val_mae: 50486.5156
Epoch 20/100
250/250 [==============================] - 2s 8ms/step - loss: 49985.8320 - mae: 49985.8320 - val_loss: 50462.5508 - val_mae: 50462.5508
Epoch 21/100
250/250 [==============================] - 2s 6ms/step - loss: 49958.4609 - mae: 49958.4609 - val_loss: 50442.3789 - val_mae: 50442.3789
Epoch 22/100
250/250 [==============================] - 2s 7ms/step - loss: 49929.1602 - mae: 49929.1602 - val_loss: 50416.1719 - val_mae: 50416.1719
Epoch 23/100
250/250 [==============================] - 2s 7ms/step - loss: 49904.7852 - mae: 49904.7852 - val_loss: 50396.7109 - val_mae: 50396.7109
Epoch 24/100
250/250 [==============================] - 2s 8ms/step - loss: 49881.6094 - mae: 49881.6094 - val_loss: 50387.1914 - val_mae: 50387.1914
Epoch 25/100
250/250 [==============================] - 2s 6ms/step - loss: 49855.7383 - mae: 49855.7383 - val_loss: 50368.9648 - val_mae: 50368.9648
Epoch 26/100
250/250 [==============================] - 2s 8ms/step - loss: 49834.2109 - mae: 49834.2109 - val_loss: 50354.3984 - val_mae: 50354.3984
Epoch 27/100
250/250 [==============================] - 2s 8ms/step - loss: 49812.1328 - mae: 49812.1328 - val_loss: 50349.6094 - val_mae: 50349.6094
Epoch 28/100
250/250 [==============================] - 2s 8ms/step - loss: 49794.7539 - mae: 49794.7539 - val_loss: 50337.8828 - val_mae: 50337.8828
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 49773.1406 - mae: 49773.1406 - val_loss: 50322.6523 - val_mae: 50322.6523
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49755.3945 - mae: 49755.3945 - val_loss: 50309.9414 - val_mae: 50309.9414
Epoch 31/100
250/250 [==============================] - 1s 5ms/step - loss: 49743.6289 - mae: 49743.6289 - val_loss: 50305.7266 - val_mae: 50305.7266
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49722.8555 - mae: 49722.8555 - val_loss: 50296.9297 - val_mae: 50296.9297
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49707.4922 - mae: 49707.4922 - val_loss: 50280.3242 - val_mae: 50280.3242
Epoch 34/100
250/250 [==============================] - 1s 6ms/step - loss: 49692.9922 - mae: 49692.9922 - val_loss: 50279.5234 - val_mae: 50279.5234
Epoch 35/100
250/250 [==============================] - 2s 9ms/step - loss: 49674.3672 - mae: 49674.3672 - val_loss: 50271.2461 - val_mae: 50271.2461
Epoch 36/100
250/250 [==============================] - 2s 7ms/step - loss: 49663.7305 - mae: 49663.7305 - val_loss: 50268.3906 - val_mae: 50268.3906
Epoch 37/100
250/250 [==============================] - 2s 7ms/step - loss: 49650.1133 - mae: 49650.1133 - val_loss: 50259.7461 - val_mae: 50259.7461
Epoch 38/100
250/250 [==============================] - 2s 9ms/step - loss: 49639.2344 - mae: 49639.2344 - val_loss: 50258.4805 - val_mae: 50258.4805
Epoch 39/100
250/250 [==============================] - 1s 5ms/step - loss: 49625.6562 - mae: 49625.6562 - val_loss: 50259.1758 - val_mae: 50259.1758
Epoch 40/100
250/250 [==============================] - 1s 5ms/step - loss: 49617.9883 - mae: 49617.9883 - val_loss: 50246.8164 - val_mae: 50246.8164
Epoch 41/100
250/250 [==============================] - 2s 6ms/step - loss: 49601.4102 - mae: 49601.4102 - val_loss: 50240.9102 - val_mae: 50240.9102
Epoch 42/100
250/250 [==============================] - 2s 8ms/step - loss: 49595.7812 - mae: 49595.7812 - val_loss: 50242.2344 - val_mae: 50242.2344
Epoch 43/100
250/250 [==============================] - 2s 8ms/step - loss: 49581.5195 - mae: 49581.5195 - val_loss: 50237.5195 - val_mae: 50237.5195
Epoch 44/100
250/250 [==============================] - 1s 5ms/step - loss: 49572.2617 - mae: 49572.2617 - val_loss: 50234.7070 - val_mae: 50234.7070
Epoch 45/100
250/250 [==============================] - 2s 6ms/step - loss: 49563.6016 - mae: 49563.6016 - val_loss: 50231.3281 - val_mae: 50231.3281
Epoch 46/100
250/250 [==============================] - 1s 5ms/step - loss: 49554.4219 - mae: 49554.4219 - val_loss: 50236.8008 - val_mae: 50236.8008
Epoch 47/100
250/250 [==============================] - 1s 5ms/step - loss: 49548.5273 - mae: 49548.5273 - val_loss: 50240.1797 - val_mae: 50240.1797
Epoch 48/100
250/250 [==============================] - 2s 8ms/step - loss: 49538.4766 - mae: 49538.4766 - val_loss: 50230.4922 - val_mae: 50230.4922
Epoch 49/100
250/250 [==============================] - 2s 8ms/step - loss: 49531.3555 - mae: 49531.3555 - val_loss: 50233.4375 - val_mae: 50233.4375
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 49523.3477 - mae: 49523.3477 - val_loss: 50237.4570 - val_mae: 50237.4570
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 49513.7031 - mae: 49513.7031 - val_loss: 50236.5508 - val_mae: 50236.5508
Epoch 52/100
250/250 [==============================] - 1s 3ms/step - loss: 49508.8711 - mae: 49508.8711 - val_loss: 50245.5000 - val_mae: 50245.5000
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49498.4375 - mae: 49498.4375 - val_loss: 50260.6094 - val_mae: 50260.6094

In [34]:
%load_ext tensorboard

In [35]:
%tensorboard --logdir regression_logs/fit

In [36]:
# evaluating the model on test data
test_loss , test_mae = model.evaluate(x_test , y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50230.4922 - mae: 50230.4922
Test MAE : 50230.4921875

In [37]:
model.save('regression_model.h5')

c:\Users\shesh\anaconda3\envs\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(